#allInTab#gridPane {
    -fx-alignment: CENTER;
    -fx-hgap: 25;
    -fx-pref-height: 400;
    -fx-pref-width: 600;
    -fx-padding: 0 10 0 10;
}

#allInTab#file, #allInTab#directory {
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-pref-height: 25;
    -fx-pref-width: 280;
}

#allInTab#actions {
    -fx-alignment: CENTER;
    -fx-pref-height: 25;
    -fx-pref-width: 280;
    -fx-spacing: 10;
}

#allInTab#allIn, #allInTab#open {
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-pref-height: 25;
    -fx-pref-width: 135;
}

#allInTab#filesCount, #allInTab#saveDirectoryPath {
    -fx-pref-height: 25;
    -fx-pref-width: 280;
}

#allInTab#progressIndicator {
    -fx-pref-height: 50;
    -fx-pref-width: 50;
}